.card{
    button{
        transform: translatey(100%);
        transition: a11 0.5s;
        opacity: 0;
    }
    &:hover{
        button{
            transform:translateY(0);
            opacity: 1;
        }
    }
}

input::placeholder {
    color: gray;
    opacity: 1; 
  }