

<section>
  <h1 class="text-center my-2 text-green-800 main-sec">Forget Password</h1>
@if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
    <div class="my-2">
      @let emailControl =verifyEmail.get('email');
      <label for="email" class="block mb-2 text-md font-light text-green-800 dark:text-white">email</label>
      <input formControlName="email" id="email" type="text" class="bg-white border border-gray-300 text-gray-900 text-sm  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (emailControl?.errors && emailControl?.touched) {
        <div class=" flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (emailControl?.getError('required')) {
                    <li>Email is required</li>
                }
                @else if (emailControl?.getError('email')) {
                    <li> Enter a valid email address</li>
                 }
                 
                
              </ul>
            </div>
          </div>
  
       }
    
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main">
      Verify Email
      @if (verifyEmail.invalid) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>
  
}
@else if ( step ==2 ) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    @let codeControl = verifyCode.get('resetCode');
    <div class="my-2">
      <label for="resetCode" class="block mb-2 text-md font-light text-green-800 dark:text-white">resetCode</label>
      <input formControlName="resetCode" id="resetCode" type="number" class="bg-white border border-gray-300 text-gray-900 text-sm  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (codeControl?.errors && codeControl?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (codeControl?.hasError('required')) {
                <li>Code is required</li>
              }
              @else if (codeControl?.hasError('pattern')) {
                <li>Enter a valid 6-digit number</li>
              }
            </ul>
          </div>
        </div>
      }
   
    </div>
    <button [disabled]="verifyCode.invalid" class="btn-main">
      Verify code
      @if (verifyCode.invalid) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>
  
}
@else if (step ==3 ) {
  <form [formGroup]="resetPassword" (ngSubmit)="reSetPasswordSubmit()">
    <div class="my-2">
      @let resetEmail =verifyEmail.get('email');
      <label for="email" class="block mb-2 text-md font-light text-green-800 dark:text-white">email</label>
      <input readonly formControlName="email" id="email" type="email" class="bg-white border border-gray-300 text-gray-900 text-sm  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (resetEmail?.errors && resetEmail?.touched) {
        <div class=" flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (resetEmail?.getError('required')) {
                    <li>Email is required</li>
                }
                @else if (resetEmail?.getError('email')) {
                    <li> Enter a valid email address</li>
                 }
                 
                
              </ul>
            </div>
          </div>
  
       }
    </div>
  
    <div class="my-2">
      @let passwordControl=resetPassword.get('newPassword');
      <label for="newPassword" class="block mb-2 text-md font-light text-green-800 dark:text-white">newPassword</label>
      <input formControlName="newPassword" id="newPassword" type="text" class="bg-white border border-gray-300 text-gray-900 text-sm  rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (passwordControl?.errors && passwordControl?.touched) {
        <div class=" flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5 list-disc list-inside">
                @if (passwordControl?.getError('required')) {
                    <li>Password is required</li>
                }
                @else if (passwordControl?.getError('pattern')) {
                    <li> Password must start with an uppercase letter and be at least 8 characters long</li>
                 }
              </ul>
            </div>
          </div>
  
       }
    </div>
  
    <button [disabled]="resetPassword.invalid" class="btn-main">
      resetPassword
      @if (resetPassword.invalid) {
        <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
  </form>
}








</section>
