<!-- brands -->
 <section>
    <h2 class="text-4xl py-2 text-center">All Brands</h2>
    <br>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
      <div *ngFor="let brand of brands; trackBy: trackByIndex" class="card border border-green-400/50 rounded-md overflow-hidden shadow relative">
        <a [routerLink]="['/brands', brand._id]" class="card-body px-2 py-4"> 
          <h4 class="text-green-800 text-center text-2xl">{{ brand.name }}</h4>
          <div class="card-img">
            <img [src]="brand.image" class="w-full h-[250px] object-contain" [alt]="brand.name">
          </div>
        </a>
      
      </div>
    </div>
  </section>
  